@import url("common.css");

.wraper{}

.section__title{
    background-color: #639982;
    font-size: 3rem;
    padding: 20px;
    text-align: center;
}
/*contents*/
.contents{
    margin-top: 50px;
    background-color: #92cab1;
}
.portfolio__card{
    text-align: center;
    margin: 50px auto;
}
.portfolio__card .title{
    font-size: 4rem;
}
.portfolio__card .description{
    padding: 20px;
    font-size: 1.8rem;
    line-height: 1.4;
}
.portfolio__card .text{
    padding: 15px;
}
.images--grid1, .images--grid2{
    display: inline-block;
    font-size: 0;
    margin-top: 40px;
}
.images--grid1 .image{
    width: 100%;
    padding-bottom: 40px;
}
.images--grid2 .image{
    width: 50%;
}


