@charset "utf-8";
@import url("font.css");
@import url("reset.css");

html {
    font-size: 8px;  
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{   
     font-family: 'Black Han Sans','Gowun Dodum', sans-serif;
}

.hidden-text{
    position:absolute;
    width:1px;
    height:1px;
    text-indent: -9999px;
    overflow: hidden;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
{ position: relative;
    bottom: 0;
    margin-top: 10px;
}

.wow {
    visibility: hidden;
}

.button{
    cursor: pointer;
}
/*header*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #fff;
    text-align: center;
    z-index: 3;
}

.header__button--menu{
    position: absolute;
    top: 15px;
    left: 20px;
    border: 0;
    background: url(../images/menu.png) no-repeat 0;
    background-size: contain;
    width: 28px;
    height: 20px;
    cursor: pointer;
}
.header__nav{
    display: none;
    position: absolute;
    width: 100%;
    height:425px;
    background-color: #fff;
    text-align: left;
    padding-left: 20px;
    padding-top:80px;
    line-height: 1.5;
    box-sizing: border-box;
}
.header__nav.is-active {
    display: block;
}
.nav__list{
    display: inline-block;

}
.nav__item .anchor{
    position: relative;
    font-size:3.8rem;
}

.nav__item .anchor:after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: width 0.3s linear;
}

.nav__item .anchor:hover:after {
    width: 100%;
}
.header__button--close{
    position: absolute;
    top: 18px;
    right:15px;
    background: url(../images/close.png) no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    border:0;
}
.header__logo{
    display: inline-block;
    font-size: 2.2rem;
    margin-top:16px;
    position: relative;
    z-index: 10;
}

/*footer*/
.footer{
    display: block;
    position: relative;
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
}
.footer__text{
    font-size: 4rem;
    padding-top: 20px;
    text-align: center;
    line-height: 1.5;
}
.footer__logo{
    margin:50px 0 50px;
    text-align: center;
}
.footer-nav{
    text-align: center;
    margin: 30px 0;
}
.footer-nav__list {
    text-align: center;
    padding-left: 20.533%;
    padding-right: 20.533%;
    box-sizing: border-box;
}
.footer-nav__item{
    display: inline-block;
    margin: 0 10px 24px 10px;
}
.footer-nav__item .anchor {
    font-size: 2rem;
    color:#110042;
    position: relative;
}
.footer-nav__item .anchor:after{
    content:'';
    right:0;
    bottom: 0;
    position: absolute;
    width: 0;
    height: 1.5px;
    background-color: #110042;
    transition: width 0.3s linear;
}
.footer-nav__item .anchor:hover:after{
    width: 100%;
}
.footer__icon{
    width: 140px;
    height:30px;
    margin: 30px auto 0;
}
.footer__icon .image{ 
    height: 100%;
    margin-right: 13px;
}
.footer__icon .image:last-child{
    margin-right: 0;
}

@media (min-width : 1024px){
    html {
        font-size: 10px;
    }
    .header__button--menu{
        display: none;
    }
    .header__nav{
        display: block;
        position: absolute;
        height: 50px;
        text-align: left;
        padding-left: 20px;
        padding-top:0;
        line-height: 1.5;
        box-sizing: border-box;
        background-color: transparent;
    }
    .nav__list{
        display: block;
        overflow: hidden;
        padding-top: 13px;
    }
    .nav__item{
        float: left;
        margin-right: 20px;
    }
    .nav__item--right{
        float: right;
    }
    .nav__item .anchor{
        font-size:1.5rem;
    }
    .header__button--close{
        display: none;
    }
 
 .footer{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 20px;
     box-sizing: border-box;
 }
 .footer__icon{
    margin: 0;      
 }
 .footer-nav__list {
    padding: 0;
 }
 .footer-nav__item{
     margin-bottom: 0;
 }
 
}

@media (max-width: 320px){
 html{
     font-size: 7px;
 }
}