@import url("common.css");

.wraper{}

.section__title{
    background-color:#cab2b4;
    font-size: 3rem;
    padding: 20px;
    text-align: center;
}
/*contents*/
.contents{
    margin-top: 50px;
    background-color: #fde4e6;
}
.foods-card{
    padding: 20px;
}
.foods-card__alcohol {
    display: inline-block;
}
.foods-card .letter{
    display: inline-block;
}
.foods-card__alcohol .title{
    font-size: 8rem;
    font-weight: bold;
}
.foods-card__alcohol .description{
    font-size: 3rem;
}
.foods-card__alcohol .foods{
    font-size: 6rem;
}
.foods-card__alcohol .image{
    transform: rotate(30deg);
}
.foods-card__foods{
    display: inline-block;
}
.foods-card__foods .image{
    width: 100%;
}
.foods-card__foods .name{
    font-size: 6rem;
    margin: 20px;
    font-weight: bold;
}
.foods-card__foods .description{
    font-size: 2rem;
    line-height: 1.5;
}
@media (min-width: 1024px) {
    
    .foods-card{
        display: flex;
        height: auto;
    }
    .foods-card__alcohol{
        width: 50%;
    }
    .foods-card__foods{
        width: 50%;
    }
}