@charset "utf-8";
@import url("common.css");

.wraper{}

/*contents*/
.contents{
    margin-top:50px;
}
.section {
    padding: 60px 0;
}
.section__visual{
    background-color: #92cab1;
    color: #1f754e;
    padding: 0;
}
.visual__list{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100vh - 50px);
}
.visual__item{
    position: absolute;
    display: none;
    top:0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}
.visual__item.is-active{
    display: block;
}
.visual__item .image{
    position: relative;
    width: auto;
    height: 65%;
    z-index: 2;
    top:50%;
    transform: translateY(-50%);
}
.visual__item .text{
    position: absolute;
    font-size: 35rem;
    text-align: center;
    width: 100%;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.section__best{
    background-color: #a5d8e5;
}
.section__title{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.slide-card{
    width:240px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 15px;
}
.slide-card__thumbnail{
    display: block;
    text-align: center;
    width:100%;
    height:290px;
}
.slide-card__thumbnail .image{
    height: 100%;
}
.slide-card__info {
    position: relative;
    margin: 5px 0 0 5px;
}
.slide-card__info .title,
.slide-card__info .description{
    padding-right: 40px;
}
.slide-card__info .title, 
.slide-card__info .bold{
    font-size: 2rem;
    font-weight: bold;
}
.slide-card__info .description{
    font-size: 1.3rem;
    margin-top: 5px;
}
.slide-card__info .button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: transparent;
    border: 0;
}
.slide-card__info .image--more{
    display: block;
    width: 35px;
    height: 35px;
}
.section__footer{
    padding: 30px 0 0;
}
.section__button{
    display: block;
    margin: 0 auto; 
    background-color: #000;
    border: 0;
    color: #fff;
    padding: 13px 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}



.section__special{
    background-color: #fff4de;
}
.section__special .section__header{
    text-align: center;

}
.section__special .section__title{
    font-size: 2rem;
    line-height: 1.2;
    margin: 20px;
    font-weight: bold;
    padding: 0;
}
.section__special .section__header .image{
    width: 100px;
}
.special__list{
    font-size: 0;
    padding-right: 17px;
    box-sizing: border-box;
}

.thumb-card{
    display: inline-block;
    width: 50%;
    min-width:150px;
    padding: 15px 0 5px 17px;
    box-sizing: border-box;
}
.thumb-card__box {
    background-color: #ebe8dd;
}
.thumb-card:nth-child(2) .thumb-card__box{
	background-color:#fcdd9f;
}
.thumb-card:nth-child(3) .thumb-card__box{
  background-color: #ffcfd2;
}
.thumb-card:nth-child(4) .thumb-card__box{
   background-color:#a5d8e5;
}

.thumb-card__thumbnail{
	text-align: center;
    width: 100%;
    height: 165px;
}
.thumb-card .image{
    width: auto;
	height: 100%;
}
.thumb-card__info{
	width: 100%;
	height:85px;
	background-color:#977256;
	line-height: 1.5;
    color: #fff;
}
.thumb-card:nth-child(2) .thumb-card__info{
	background-color: #e1636c;
}
.thumb-card:nth-child(3) .thumb-card__info{
	background-color:#c06268;
}
.thumb-card:nth-child(4) .thumb-card__info{
	background-color:#110042;
}
.thumb-card .bold{
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
	padding-top: 5px;
    font-family: 'Gowun Dodum', sans-serif;
}
.thumb-card .button{
	display : block;
	margin: 0 auto;
    background-color: #fcdd9f;
    border: 0;
    color:#977256;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}
.thumb-card:nth-child(2)  .button{
	background-color: #ebe8dd;
    color:#e1636c;
}
.thumb-card:nth-child(3)  .button{
    background-color: #ffcfd2;
    color:#c06268;
}
.thumb-card:nth-child(4)  .button{
   background-color: #a5d8e5;
   color:#110042;
}

.swiper--foods{
    padding-right: 60px;
}
.section__foods{
    background-color: #fde4e6;
}
.section__foods .section__title{
    font-size: 2.7rem;
}
.foods-card{
    position: relative;
    display: flex;
    flex: 0;
    align-items: center;
}
.foods-card__thumbnail{
    width: 100%;
    text-align: center;
}
.foods-card__thumbnail .image{
    height: 180px;
}
.foods-card__info{
    text-align: center;
    color: #1c1d2a;
}
.foods-card__info .bold{
    font-size: 4rem;
    font-weight: bold;
}
.foods-card__info .description{
    font-size: 1.5rem;
    margin: 18px 0 15px;
}
.foods-card__info .button{
    border: 0;
    border-radius: 40px;
    width: 120px;
    height:30px;
    background-color: #f9b041;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}
.swiper-pagination-bullet-active{
    background-color: hotpink;
}

@media (min-width: 1024px) {

    .special__list{
        display: flex;
        justify-content: space-between;
    }
    .special__item{
        flex:1;
        
    }
    .thumb-card__thumbnail{
        padding: 30px 0;
    }
    .thumb-card__info{
        padding: 15px 0;
    }
    .thumb-card__info .bold{
        font-size: 1.7rem;
    }
 }
 
 @media (max-width: 320px){
     html{
         font-size: 7px;
     }
 }