@charset "utf-8";
@import url("common.css");

.wraper{}
/*header*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #fff;
    text-align: center;
    z-index: 3;
}
.header__button--menu{
    position: absolute;
    top: 15px;
    left: 20px;
    border: 0;
    background: url(../images/menu.png) no-repeat 0;
    background-size: contain;
    width: 30px;
    height: 24px;
}
.header__nav{
    display: none;
    position: absolute;
    width: 100%;
    height:425px;
    background-color: #fff;
    text-align: left;
    padding-left: 20px;
    padding-top:80px;
    line-height: 1.5;
    box-sizing: border-box;
}
.nav__list{
    display: inline-block;
}
.nav__item .anchor{
    font-size:4rem;
}
.header__button--close{
    position: absolute;
    top: 18px;
    right:15px;
    background: url(../images/close.png) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border:0;
}
.header__logo{
    display: block;
    margin-top: 7px;
}
.header__logo .image{
    width:auto;
    height: 34px;
}
/*contents*/
.contents{
    margin-top:50px;
}
.section__visual{
    background-color: #FFF;
}
.visual__list{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.visual__item{
    position: absolute;
    display: none;
    top:0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}
.visual__item.is--active{
    display: block;
}
.visual__item .image{
    position: relative;
    width: auto;
    height: 65%;
    z-index: 2;
    top:50%;
    transform: translateY(-50%);
}
.visual__item .text{
    position: absolute;
    font-size: 35rem;
    text-align: center;
    width: 100%;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.section__best{
    background-color: #a5d8e5;
}
.section__best .section__title{
    font-size: 3rem;
    text-align: center;
    padding-top:60px;
    font-weight: bold;
    text-transform: uppercase;
}
.slide-card{
    width:240px;
    margin-top: 10px;
    display: inline-block;
}
.slide-card__thumbnail{
    display: block;
    text-align: center;
    width:100%;
    height:290px;
}
.slide-card__thumbnail .image{
    height: 100%;
}
.slide-card__info {
    position: relative;
    margin: 5px 0 0 5px;
}
.slide-card__info .title,
.slide-card__info .description{
    padding-right: 40px;
}
.slide-card__info .title, 
.slide-card__info .bold{
    font-size: 2rem;
    font-weight: bold;
}
.slide-card__info .description{
    font-size: 1.3rem;
    margin-top: 5px;
}
.slide-card__info .button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: transparent;
    border: 0;
}
.slide-card__info .image--more{
    display: block;
    width: 35px;
    height: 35px;
}
.section__footer{
    padding: 30px 0;
}
.slide-card .section__button{
    display: block;
    margin: 0 auto; 
    background-color: #000;
    border: 0;
    color: #fff;
    padding: 13px 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.section__special{
    background-color: #fff4de;
}
.section__special .section__header{
    text-align: center;
    padding-top: 30px;
}
.section__special .section__title{
    font-size: 2rem;
    line-height: 1.2;
    margin: 20px;
    font-weight: bold;
}
.section__special .section__header .image{
    width: 100px;
}
.special__list{
    font-size: 0;
    padding-right: 17px;
    box-sizing: border-box;
}
.thumb-card{
    display: inline-block;
    min-width:175px;
    padding: 15px 0 5px 17px;
    box-sizing: border-box;
}
.thumb-card__box {
    background-color: #ebe8dd;
}
.thumb-card:nth-child(2) .thumb-card__box{
	background-color:#fcdd9f;
}
.thumb-card:nth-child(3) .thumb-card__box{
  background-color: #ffcfd2;
}
.thumb-card:nth-child(4) .thumb-card__box{
   background-color:#a5d8e5;
}
.thumb-card:nth-child(3),
.thumb-card:nth-child(4){
	margin-bottom: 30px;
}
.thumb-card__thumbnail{
	text-align: center;
    width: 100%;
    height: 165px;
}
.thumb-card .image{
    width: auto;
	height: 100%;
}
.thumb-card__info{
	width: 100%;
	height:85px;
	background-color:#977256;
	line-height: 1.5;
    color: #fff;
    font-family: 'Gowun';
}
.thumb-card:nth-child(2) .thumb-card__info{
	background-color: #e1636c;
}
.thumb-card:nth-child(3) .thumb-card__info{
	background-color:#c06268;
}
.thumb-card:nth-child(4) .thumb-card__info{
	background-color:#110042;
}
.thumb-card .bold{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
	padding-top: 5px;
}
.thumb-card .button{
	display : block;
	margin: 0 auto;
    background-color: #fcdd9f;
    border: 0;
    color:#977256;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
}
.thumb-card:nth-child(2)  .button{
	background-color: #ebe8dd;
    color:#e1636c;
}
.thumb-card:nth-child(3)  .button{
    background-color: #ffcfd2;
    color:#c06268;
}
.thumb-card:nth-child(4)  .button{
   background-color: #a5d8e5;
   color:#110042;
}

.section__foods{
    background-color: #fde4e6;
}

.foods-card{
    position: relative;
    width:225px;
    height: 418px;
    display: inline-block;
}
.foods-card__thumbnail{
    position: absolute;
    top: 45px;;
    left:8px;
    width: 100%;
    height:260px;
    text-align: center;
}
.foods-card__thumbnail .image{
    height: 100%;
}
.foods-card__info{
    position: absolute;
    top:115px;
    left:210px;
    text-align: center;
    color: #1c1d2a;
}
.foods-card__info .bold{
    font-size: 4rem;
    font-weight: bold;
}
.foods-card__info .description{
    font-size: 1.5rem;
    margin: 18px 0 15px;
}
.foods-card__info .button{
    border: 0;
    border-radius: 40px;
    width: 120px;
    height:30px;
    background-color: #f9b041;
    font-weight: bold;
    font-size: 1.1rem;
}

/*footer*/
.footer{
    position: relative;
    width: 100%;
    height:0;
    padding-bottom: 110%;
    background-color: #fff;
}

.footer__logo{
    margin:50px 0 50px;
    text-align: center;
}
.footer-nav{
    text-align: center;
}
.footer-nav__list {
    text-align: center;
    padding-left: 20.533%;
    padding-right: 20.533%;
    box-sizing: border-box;
}
.footer-nav__item{
    display: inline-block;
    margin: 0 10px 24px 10px;
}
.footer-nav__item .anchor {
    font-size: 2rem;
    color:#110042;
}
.footer__sns{
    width: 124px;
    height:30px;
    margin: 65px auto;
}
.footer__sns .image{ 
    height: 100%;
    margin-right: 13px;
}
.footer__sns a:last-child .image{
    margin-right: 0;
}